 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Esto es un proyecto que sirve de portada para exponer temas de interés relacionados con tecnología, redes y programación. Guiado por inquietudes personales en las materias.</p>
                </div>
                <div class="col-lg-4">
                    <p>Una ventana por la cual aquellos conceptos y proyectos se puedan compartir, se pueda hacer de una forma más o menos ordenada a condición de lo que nos permita el tiempo y la capacidad.</p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
