 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Proyecto iniciado con la inquietud de guardar y exponer algunos de mis proyectos, incluso temas de tecnología de mi interés (Redes, Docker, diversos Stack de desarrollo, etc).</p>
                </div>
                <div class="col-lg-4">
                    <p>Así mismo una ventana para que se conozca algunos de mis trabajos, entretenimientos e inquietudes 🦘.</p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
